DirectorySlash Off
Options -Indexes

RewriteEngine on

# local userdir :S
#RewriteCond %{HTTP_HOST} localhost
#RewriteCond %{REQUEST_URI} !index.php
#RewriteCond %{REQUEST_URI} ^/try/([^/]*)
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /try/app/index.php?_url=%1 [L,QSA]
RewriteRule ^/try/(.*) /try/app/index.php?_url=$1 [L,QSA]

# try.thx-lib.org
RewriteCond %{HTTP_HOST} try\.thx-lib\.org
RewriteRule ^$ /index.html [L,QSA]

RewriteCond %{HTTP_HOST} try\.thx-lib\.org
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /app/index.php?_url=$1&_root= [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app/index.php?_url=$1 [L,QSA]
