DirectorySlash Off
Options -Indexes

RewriteEngine on

# redirecting to new url
RewriteCond %{HTTP_HOST} aaaliasing\.net
RewriteRule ^(.*)$ http://104.236.77.114/try/$1 [R=301]

# local userdir :S
RewriteCond %{HTTP_HOST} localhost
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} ^/try/~([^/]*)/
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /~%1/try/app/index.php?_url=$1 [L,QSA]

# try.haxe.org
RewriteCond %{HTTP_HOST} try\.thx-lib\.org
RewriteRule ^$ /index.html [L,QSA]

RewriteCond %{HTTP_HOST} try\.thx-lib\.org
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /app/index.php?_url=$1&_root= [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app/index.php?_url=$1 [L,QSA]
